Jutze/Jutze.rc
Jutze/Jutze.sln
Jutze/Jutze.vcxproj
Jutze/Jutze.vcxproj.filters
Jutze/Jutze.vcxproj.user
Jutze/.vs/Jutze/v16/.suo
Jutze/.vs/Jutze/v16/Browse.VC.db
Jutze/.vs/Jutze/v16/Browse.VC.db-shm
Jutze/.vs/Jutze/v16/Browse.VC.db-wal
Jutze/.vs/Jutze/v16/Browse.VC.opendb
Jutze/.vs/Jutze/v16/ipch/41ecd94977c7a283.ipch
Jutze/Debug/Jutze.exe
Jutze/Debug/Jutze.exe.recipe
Jutze/Debug/Jutze.ilk
Jutze/Debug/Jutze.log
Jutze/Debug/Jutze.obj
Jutze/Debug/Jutze.pch
Jutze/Debug/Jutze.pdb
Jutze/Debug/Jutze.res
Jutze/Debug/Jutze.vcxproj.FileListAbsolute.txt
Jutze/Debug/JutzeDoc.obj
Jutze/Debug/JutzeView.obj
Jutze/Debug/MainFrm.obj
Jutze/Debug/pch.obj
Jutze/Debug/vc142.idb
Jutze/Debug/vc142.pdb
Jutze/Debug/Jutze.tlog/CL.command.1.tlog
Jutze/Debug/Jutze.tlog/CL.read.1.tlog
Jutze/Debug/Jutze.tlog/CL.write.1.tlog
Jutze/Debug/Jutze.tlog/Jutze.lastbuildstate
Jutze/Debug/Jutze.tlog/link.command.1.tlog
Jutze/Debug/Jutze.tlog/link.read.1.tlog
Jutze/Debug/Jutze.tlog/link.write.1.tlog
Jutze/Debug/Jutze.tlog/rc.command.1.tlog
Jutze/Debug/Jutze.tlog/rc.read.1.tlog
Jutze/Debug/Jutze.tlog/rc.write.1.tlog
Jutze/res/Jutze.ico
Jutze/res/Jutze.rc2
Jutze/res/JutzeDoc.ico
Jutze/res/Toolbar.bmp
